<div class="contaner">
    <div class="jumbotron py-1">
        <h1  href="home" [routerLink]="['/']" (click)="refreshPage()" class="display-4 text-center">API Simulator</h1>
    </div>
    
    <app-dia-api-simulator-form></app-dia-api-simulator-form>
    <div></div>
    <table class="table">
        <thead >
          <tr>
            <th>Guid</th>
            <th>Content</th>
         </tr>
       </thead>
        <tbody>
            <tr  *ngFor="let allContent of service.list">
                <td class="guid" (click)="getContentById(allContent.key)">{{allContent.key}}</td>
                <td >{{allContent.value}}</td>
              </tr>
       </tbody>
    </table>
</div>